<head>
  <title>Faccat Text Editor</title>
</head>

<body>
  {{> root}}
</body>

<template name="root">
  {{#if currentDocumentId}}
    {{> document}}
  {{else}}
    {{> list}}
  {{/if}}
</template>

<template name="list">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="app-name">
          Faccat Text Editor
          <a class="btn" href="#">New Document</a>
        </h2>

        <h4>Saved Documents</h4>
        <table id="documents" class="table table-hover">
          <thead>
            <th>Title</th>
            <th>Last Changed</th>
            <th></th>
          </thead>
          <tbody>
          {{#each documents}}
            {{> documentRow}}
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<template name="documentRow">
  <tr class="{{_id}}">
    <td>{{title}}</td>
    <td>
      <span class='timeago'>
        {{timeago lastSavedAt}}
      </span>
    </td>
    <td></td>
  </tr>
</template>

<template name="document">
  {{#if currentDocument}}
  {{#with currentDocument}}
  <div class="container-fluid">
    <div id="title-row" class="row">
      <div class="col-12 center-content">
        <a href="#" class="close" data-toggle="tooltip" title="Return to Document List">&times;</a>
        <input id="doc-title" type="text" placeholder="Document title" value="{{title}}">
      </div>
    </div>
    <div class="row">
      <div class="col-12 center-content">
        <textarea
          id="doc-content"
          rows="10"
          placeholder="Start typing your document here...">{{content}}</textarea>
      </div>
    </div>
  </div>
  {{/with}}
  {{/if}}
</template>
