body {
  color: #444;
  background-color: #f1f1f1;
}

#title-row {
  padding-bottom: 20px;
}

a.close {
  float: left;
  padding: 5px 10px;
}

input#doc-title {
  width: 80%;
  box-shadow: none;
  border: 1px solid #e1e1e1;
  font-size: 20px;
  color: #333;
  margin: 0;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea#doc-content {
  color: #333;
  margin-left: 40px;
  height: 620px;
  outline: none;
  border-width: 0px;
  width: 100%;
  max-width: 816px;
  white-space: pre-wrap;
  overflow: hidden;
  word-wrap: break-word;
  resize: none;
  font-size: 20px;
  line-height: 31px;
  margin: 3.75pt;
  margin-bottom: 7.5pt;
  box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #ccc;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

h2.app-name {
  text-transform: uppercase;
  color: #ccc;
}

h2.app-name a.btn {
  text-transform: none;
  font-weight: normal;
  float: right;
  display: block;
  margin-top: 10px;
}

.table thead th {
  text-transform: uppercase;
  color: #ccc;
}

.table td.title {
  font-weight: 700;
}

.table td.last-saved {
  font-size: 85%;
  color: #666;
}
